# Xcode 16
xcuserdata/
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/

# SwiftUI Previews
PreviewDevice.json

# C++ Build Artifacts
*.o
*.obj
*.so
*.dylib
*.a
*.lib

# macOS
.DS_Store

# IDEs
.vscode/
.idea/